---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Sans SC'), local('AlegreyaSansSC-Regular'), url("{{ "/fonts/alegreya/alegreya.woff2" | prepend: site.baseurl }}") format('woff2'), url("{{ "/fonts/alegreya/alegreya.woff" | prepend: site.baseurl }}") format('woff');
}

@font-face {
  font-family: 'Cinzel Decorative';
  font-style: normal;
  font-weight: 700;
  src: local('Cinzel Decorative Bold'), local('CinzelDecorative-Bold'), url("{{ "/fonts/cinzel/cinzel.woff2" | prepend: site.baseurl }}") format('woff2'), url("{{ "/fonts/cinzel/cinzel.woff" | prepend: site.baseurl }}") format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url("{{ "/fonts/lato/lato.woff2" | prepend: site.baseurl }}") format('woff2'), url("{{ "/fonts/lato/lato.woff" | prepend: site.baseurl }}") format('woff');
}

@font-face {
  font-family: 'Marcellus SC';
  font-style: normal;
  font-weight: 400;
  src: local('Marcellus SC'), local('MarcellusSC-Regular'), url("{{ "/fonts/marcellus/marcellus.woff2" | prepend: site.baseurl }}") format('woff2'), url("{{ "/fonts/marcellus/marcellus.woff" | prepend: site.baseurl }}") format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url("{{ "/fonts/opensans/open_sans_300.woff2" | prepend: site.baseurl }}") format('woff2'), url("{{ "/fonts/opensans/open_sans_300.woff" | prepend: site.baseurl }}") format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url("{{ "/fonts/opensans/open_sans_400.woff2" | prepend: site.baseurl }}") format('woff2'), url("{{ "/fonts/opensans/open_sans_400.woff" | prepend: site.baseurl }}") format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url("{{ "/fonts/opensans/open_sans_600.woff2" | prepend: site.baseurl }}") format('woff2'), url("{{ "/fonts/opensans/open_sans_600.woff" | prepend: site.baseurl }}") format('woff');
}

@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'), url("{{ "/fonts/oxygen/oxygen.woff2" | prepend: site.baseurl }}") format('woff2'), url("{{ "/fonts/oxygen/oxygen.woff" | prepend: site.baseurl }}") format('woff');
}
