---
---
@charset "utf-8";

.content .banner-header {
  background-color: #103942;
  position: relative;
  width: 100%;
  max-height: 128px;
  text-align: center;
}

.content .banner-header img {
  max-height: 128px;
  max-width: 100%;
}

.content article .image img {
  max-width: 100%;
}

.content article .image {
  margin-left: 15px;
  margin-right: 15px;
}

.content article {
  background-color: white;
  margin-top: 2px;
  padding-bottom: 10px;
}

.content article header h1 {
  background-color: #103942;
  background-color: rgba(23, 83, 96, 1);
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 36px;
  font-weight: 300;
  padding: 15px 15px;
  position: relative;
  letter-spacing: 0.05em;
}

.content article h2 {
  color: #103942;
  padding: 5px 15px;
  font-family: "Alegreya Sans SC", "Montserrat Alternates";
  font-size: 26px;
}

.content article h3 {
  color: #333;
  padding: 5px 15px;
  font-family: "Alegreya Sans SC", "Montserrat Alternates";
  font-size: 20px;
}

.content article header .post-meta {
  text-align: right;
  padding-right: 15px;
  padding-bottom: 15px;
}

.content article p {
  padding: 0 15px;
  font-family: "Open Sans", sans;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.3em;
}

.content article p code,
.content article pre {
  font-family: 'inconsolata', monospace;
  line-height: 1.2em;
}

.content article pre {
  background-color: #333;
  color: #ddd;
  overflow: auto;
  padding: 5px 15px;
  margin-top: 10px;
}

.content article .highlight + p,
.content article pre + p {
  margin-top: 10px;
}

.content article ul + p {
  margin-top: 20px;
}

.content article > p:last-child {
  padding-bottom: 15px;
}

.content article ul {
  padding: 5px 15px;
  padding-bottom: 0px;

  font-family: "Open Sans", sans;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.3em;
}

.content article ul li {
  list-style-type: disc;
  list-style-position: outside;

  margin-top: 5px;
  margin-left: 20px;
}

.content article iframe {
  width: 100%;
  height: 800px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
