---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

html, body {
  background-color: hsl(190, 50%, 5%);
  background-image: url('/images/noise_black.png');
}

body .content {
  margin: 0 auto;
  margin-top: 2px;
  max-width: 1030px;
}

body footer {
  background-color: #103942;
  color: #888;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  padding: 15px;
  padding-top: 10px;

  margin: 0 auto;
  margin-top: 2px;
  max-width: 1000px;
}

body footer ul li {
  display: inline-block;
  padding: 3px 10px;
  border-right: 1px solid #888;
}

body footer ul li:first-child {
  padding-left: 0px;
}

body footer ul li:last-child {
  padding-right: 0px;
  border:none;
}

body footer a {
  color: white;
}

.content a:not(.button) {
  color: hsl(190, 60%, 45%);
  text-decoration: none;
}

.content span.black {
  color: #bbb;
}

.content span.small {
  font-size: 10px;
}

.content a.small-link {
  color: #ddd;

  font-size: 10px;
}

.content a.small-link:hover {
  color: #777;
}

.content a:hover {
  text-decoration: underline;
}

.content em {
  font-style:italic;
}

.content strong {
  font-weight:600;
  color: #555;
}

.content h1 .icon {
  display: block;
  float: left;
  width: 96px;
  height: 96px;
  margin-right: 15px;
  padding: 0;
  background-repeat: no-repeat;
  background-image: url('/images/object_large.png');
}

.content h1 .icon.graph {
  background-image: url('/images/graph_large.png');
}

.content h1 .icon.group {
  background-image: url('/images/ranged_group_large.png');
}

.content h1 .icon.workset {
  background-image: url('/images/workset_large.png');
}

.content > .card > p:last-child {
  padding-bottom: 15px;
}

.content h1 .icon.experiment {
  background-image: url('/images/experiment_large.png');
}

.content h1 .icon.simulator {
  background-image: url('/images/simulator_large.png');
}

.content h1 .icon.benchmark {
  background-image: url('/images/benchmark_large.png');
}

.content h1 .icon.import {
  background-image: url('/images/import_large.png');
}

.content h1 .icon.object {
  background-image: url('/images/object_large.png');
}

.content h1 .icon img {
  width: 96px;
  height: 96px;
  border-radius: 10px;
}

.content h1 .statistics ,
.content h1 .roles {
  position: absolute;
  right: 0%;
  bottom: 15px;
}

.content h1 .roles ul li {
  font-size: 12px;
  text-align: center;
  margin-bottom: 5px;
  margin-right: 15px;
  background-color: hsl(180, 50%, 90%);
  color: black;

  border-radius: 5px;
  padding: 5px;
}

.content h1 .roles ul li:last-child {
  margin-bottom: 0px;
}

.content h1 .roles ul li.administrator {
  background-color: hsl(0, 50%, 90%);
}

.content h1 .name {
  padding-left: 114px;
  display: block;
  color: #f8f8f8;
  margin-top: 30px;
  line-height: 51px;
  vertical-align: bottom;
}

.content h1 .name:last-child {
  margin-top: 47px;
}

.content h1 .parent ,
.content h1 .description ,
.content h1 .organization {
  padding-left: 115px;
  color: hsl(290, 60%, 75%);
  display: block;
  font-size: 14px;
  font-family: "Marcellus SC", serif;
}

.content h1.small {
  font-size: 33px;
}

.content * + h1 {
  margin-top: 30px;
}

.content h1 + h2 {
  margin-top: 15px;
}

.content h1 + h3 {
  margin-top: 15px;
}

.content h1 + form {
}

.content h1 + p {
  margin-top: 20px;
}

.content h2 + ul.tags ,
.content h1 + ul.tags {
  padding-bottom: 10px;
  border-bottom: 1px solid hsl(190, 30%, 95%);
}

.content h2 + ul.tags li ,
.content h1 + ul.tags li {
  margin-top: 10px;
}

.content h2 + p {
  margin-top: 10px;
}

.content h2 + ul {
  margin-top: 10px;
}

.content p + p {
  margin-top: 10px;
}

.content p + ul {
  margin-top: 10px;
}

.content h1 + ul + p {
  margin-top: 20px;
}

.content .image {
  text-align: center;
}

.content .image img {
  margin: 0px auto;
  margin-top: 20px;
}

.content > .description {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  color: white;
  background-color: hsl(190, 30%, 50%);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 200;
}

.content > .description > ul.tags {
  margin-top: 15px;
  margin-left: 15px;
  padding-left: 0;
}

.content .description p {
  font-size: 14px;
}

.content .description ul {
  padding-left: 30px;
}

.content .description ul li {
  margin-top: 10px;
}

.content .description > * {
  padding-left: 15px;
}

.content > .card > .information {
  display: table;
}

.content > .card > .information > div {
  display: table-row;
}

.content > .card > .information > div > h2 {
  display: table-cell;
  color: #555;

  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 43px;

  background-repeat: no-repeat;
  background-position: 15px 16px;
}

.content > .card > .information > .uuid > h2 {
  background-image: url('/images/uuid.png');
}

.content > .card > .information > .revision > h2 {
  background-image: url('/images/revision.png');
}

.content > .card > .information > .object > h2 {
  background-image: url('/images/object.png');
}

.content > .card > .information > .object[data-object-type="application/json"] > h2 {
  background-image: url('/images/application_json.png');
}

.content > .card > .information > .clonedFrom > h2 {
  background-image: url('/images/clonedFrom.png');
}

.content > .card > .information > .history > h2 {
  background-image: url('/images/history.png');
}

.content > .card > .information > .website > h2 {
  background-image: url('/images/website.png');
}

.content > .card > .information > .generator > h2 {
  background-image: url('/images/generator.png');
}

.content > .card > .information > .authors > h2 {
  background-image: url('/images/authors.png');
}

.content > .card > .information > .configuration > h2 {
  background-image: url('/images/configuration.png');
}

.content > .card > .information > .script_path > h2 {
  background-image: url('/images/object.png');
}

.content > .card > .information > .binary_path > h2 {
  background-image: url('/images/code.png');
}

.content > .card > .information > .inputs > h2 {
  background-image: url('/images/inputs.png');
}

.content > .card > .information > .outputs > h2 {
  background-image: url('/images/outputs.png');
}

.content > .card > .information > .license > h2 {
  background-image: url('/images/license.png');
}

.content > .card > .information > div > h2 + * span.time {
  color: #aaa;
  font-size: 12px;
}

.content > .card > .information > div > h2 + * span.time:before {
  color: #777;
  font-size: 14px;
  content: '(';
}

.content > .card > .information > div > h2 + * span.time:after {
  color: #777;
  font-size: 14px;
  content: ')';
}

.content > .card > .information > div > h2 + * {
  display: table-cell;
  margin: 0;
  padding: 0;
  padding-left: 15px;
  padding-bottom: 10px;

  font-weight: 200;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

.content > .card > .information > div > ul {
  color: #888;
}

.content > .card > .information > div > * > span.small {
  color: #888;
}

.content > .card > .information > div > ul > li {
  padding-top: 10px;
}

.content > h2.inline + p {
  display: inline-block;
}

.content .bio {
  padding-top: 10px;
}

.content ul#worksets {
  position: relative;

  margin-top: 10px;
}

.content ul#worksets > li {
  display: table;

  min-height: 40px;
  border-bottom: 1px solid #eee;
  margin-top: 10px;
}

.content ul#worksets > li > h3.name {
  background:url('/images/workset.png') no-repeat 1px 0px;
  font-size: 20px;
  font-weight: 400;
  min-height: 23px;
  padding-top: 8px;
  padding-left: 46px;
}

.content ul#worksets > li > .info {
  display: table-row;
}

.content h1 .statistics ,
.content ul#worksets > li > .info > .statistics {
  display: table-cell;
}

.content h1 .statistics > ul,
.content ul#worksets > li > .info > .statistics > ul {
  color: #bbb;
  display: table;

  font-size: 16px;

  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.content h1 .statistics > ul > li ,
.content ul#worksets > li > .info > .statistics > ul > li {
  display: table-row;
  line-height: 1.2em;
}

.content h1 .statistics > ul > li > span.value ,
.content ul#worksets > li > .info > .statistics > ul > li > span.value {
  color: hsl(190, 60%, 45%);
  display: table-cell;
  font-weight: 400;
  text-align: right;
}

.content h1 .statistics > ul > li > span.value .lock {
  height: 19px;
  width: 19px;
  padding: 0;
  margin: 0;
  vertical-align:bottom;
  border: none;
}

.content h1 .statistics > ul > li > span.units.private {
  color: #c83737;
  font-weight: 400;
}

.content h1 .statistics > ul > li > span.value input.lock.private {
  background: url('/images/public_locked.png') no-repeat 0% 0px;
  cursor: pointer;
  text-indent: -9999px;
}

.content h1 .statistics > ul > li > span.value input.lock.public {
  background: url('/images/public_unlocked.png') no-repeat 0% 0px;
  cursor: pointer;
  text-indent: -9999px;
}

.content h1 .statistics > ul > li > span.value {
  padding-left: 5px;
  text-align: center;
}

.content ul#worksets > li > .info > .statistics > ul > li > span.value {
  padding-right: 5px;
}

.content ul#worksets > li > .info > .description {
  display: table-cell;

  font-size: 16px;

  text-align: justify;
  line-height: 1.2em;

  min-height: 47px;

  padding-left: 46px;
  padding-right: 10px;
  padding-bottom: 10px;

  width: 100%;
}

.content ul#worksets > li > .info > .description > p {
  font:    inherit;
  margin:  0;
  padding: 0;
}

.content h2 {
  padding: 0;
  font-family: "Alegreya Sans SC", "Montserrat Alternates";
  font-size: 22px;
}

.content > h2 ,
.content .card > h2 {
  color: hsl(190, 30%, 55%);
}

.content * + h2 {
  margin-top: 20px;
}

.content h3 {
  padding: 0;
  font-family: "Alegreya Sans SC", "Montserrat Alternates";
  font-size: 20px;
}

.content > h3 ,
.content .card h3 {
  color: hsl(190, 30%, 35%);
}

.content * + h3 {
  margin-top: 20px;
}

.content p {
  padding: 0;
  font-family: "Open Sans", sans;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.3em;
}

.content p.path {
  font-family: "inconsolata", monospace;
  font-weight: normal;
}

.content > .card > ul ,
.content > ul {
  font-family: "Open Sans", sans;
  font-size: 16px;
  font-weight: 200;
  margin: 0;
}

.content ul.diamond-list li {
  list-style: none;
  background:url('/images/diamond.png') no-repeat left 4px;
  min-height: 32px;
  padding-top: 0px;
  padding-left: 20px;
  margin-top: 5px;
  margin-left: 5px;
}

.content ul.results li a + p {
  margin-top: 12px;
}

.content ul.image-list li {
  list-style-type: none;
  min-height: 32px;
  margin-top: 10px;
  padding-top: 7px;
  padding-left: 44px;
}

.content ul.image-list li.experiment {
  background:url('/images/experiment.png') no-repeat left top;
}

.content ul.image-list li.recipe {
  background:url('/images/recipe.png') no-repeat left top;
}

.content ul.image-list li.results {
  background:url('/images/graph.png') no-repeat left top;
}

.content ul.image-list li.add-range {
  background:url('/images/add_range.png') no-repeat left top;
}

.content ul.image-list li.configure {
  background:url('/images/gear.png') no-repeat left top;
}

.content ul.image-list li.fork {
  background:url('/images/fork.png') no-repeat left top;
}

.content ul.image-list li.add {
  background:url('/images/add.png') no-repeat left top;
}

.content ul.image-list li.add input {
  position: relative;
  top: -2px;
  border: 1px solid #ddd;
  padding: 3px;
}

.content ul.image-list li.add input:focus {
  border: 1px solid #aaa;
}

.content ul.image-list li.add-recipe {
  background:url('/images/add_recipe.png') no-repeat left top;
}

.content ul.image-list li.workset {
  background:url('/images/workset.png') no-repeat left top;
}

.content ul.image-list li.person {
  position: relative;
  padding-left: 0px;
  margin-top: 0px;
}

.content ul.image-list li.person img.avatar {
  width: 32px;
  height: 32px;
  margin-right: 12px;
  vertical-align: bottom;
  border-radius: 16px;
}

.content ul.image-list li.person .username {
  display: inline-block;
  padding-bottom: 8px;
}

.content ul.image-list li.file {
  background:url('/images/file.png') no-repeat left top;
}

.content h1 .logo {
  font-size: 62px;
  font-family: 'Cinzel Decorative', serif;
  font-weight: 700;
}

.content p span.logo {
  color: hsl(190, 30%, 35%);
  font-family: 'Cinzel Decorative', serif;
  font-weight: 700;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 3px;
}

ul.tags li {
  background-color: hsl(190, 50%, 90%);
  border: 1px solid hsl(190, 30%, 80%);
  border-radius: 5px;
  display: inline-block;
  padding: 0px 5px;
  padding-bottom: 2px;
}

ul.tags li a {
  color: hsl(190, 70%, 30%);
  font-family: "Alegreya Sans SC", "Montserrat Alternates";
  font-size: 15px;
  text-decoration: none;
}

ul.tags li a:hover {
  color: hsl(190, 70%, 50%);
}

.content p.forked_from {
  display: inline-block;
  font-size: 10px;
  margin-top: 0px;
}

.forked_from span {
}

.table {
  display: table;
}

.table .row {
  display: table-row;
}

.table .row .cell {
  display: table-cell;
  padding-right: 10px;
  padding-bottom: 10px;
}

ul.benchmark > li ,
ul.simulator > li {
  border: 1px solid #ccc;
  border-radius: 5px;

  padding: 10px;

  margin-bottom: 10px;
}

ul.benchmark > li > h2 ,
ul.simulator > li > h2 {
  border-bottom: 1px solid #eee;

  padding: 0;
  padding-bottom: 4px;
}

ul.benchmark > li .description ,
ul.simulator > li .description {
  margin-top:10px;

  border-bottom: 1px solid #eee;

  padding: 0;
  padding-bottom: 14px;
}

ul.benchmark > li .description p,
ul.simulator > li .description p {
  padding: 0;
}

ul.benchmark > li ul.tags ,
ul.simulator > li ul.tags {
  margin-top:10px;
}

span.arrow {
  color: #888;
  font-size: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: top;
}

.content h2 span.expand {
  color: #555;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  top: -2px;
}

.content .collapsable > h2 span.expand {
  margin-right: 5px;
  margin-left: -7px;
}

.content .loadable {
  margin-top: 10px;
}

.help {
  background-image: url('/images/help.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  min-height: 47px;

  border: 1px solid #ccc;
  border-radius: 5px;

  margin-top: 10px;
  margin-bottom: 10px;

  padding: 10px;
  padding-left: 68px;
}

/* Header bar for h2 */

h2 > ul.header_bar {
  display: none;
  float: right;
}

h2 > ul.header_bar > li {
  display: inline-block;
  line-height: 1.2em;

  font-size: 14px;

  padding-right: 5px;
}

h2 > ul.header_bar > li + li {
  border-left: 1px solid #ddd;

  padding-left: 5px;
}

.content ul.groups {
  margin-top: 10px;
}

.content ul.groups li {
}

.content ul.groups li .information {
  height: 30px;
  display: table;
}

.content ul.groups li .information .row {
  display: table-row;
}

.content ul.groups li .information > .row > span {
  display: table-cell;

  padding-bottom: 5px;
  padding-left: 5px;

  white-space: nowrap;
}

.content ul.groups li .button {
  margin-top: 0;
}

.content ul.groups li .information > .row > span.name {
  width: 100%;
  padding-left: 39px;
}

.content ul.groups li .information > .row > span.expand + span.name {
  padding-left: 10px;
  background: none;
}

.content ul.groups li span.units {
  color: #bbb;
}

.content ul.groups li span.value {
  color: hsl(190, 60%, 45%);
  font-weight: 400;
  padding-right: 5px;
}

.content ul.groups li span.status {
  font-size: 12px;
  text-align: right;
}

.content ul.groups li ul.groups {
  margin-top: 0;
  margin-left: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

/* webkit will not allow me to apply this to the li.group
 * since it will apply it oddly to every table-cell */
.content ul.groups li.group > .information > .row > span:first-child {
  background: url('/images/ranged_group.png') no-repeat 6px -3px;
}

.content ul.groups li.experiment > .information > .row > span:first-child {
  background: url('/images/experiment.png') no-repeat 6px -3px;
}

.content .add-group {
  background:url('/images/add.png') no-repeat 0px 7px;
  padding-top: 1px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 40px;
}

.content .add-group span.input input {
}

.content .add-group span.input form {
  display: inline-block;
}

.content .add-group span.input input {
  display: inline-block;
  border: 1px solid #ddd;
  padding: 3px;
}

.content .add-group span.input input:focus {
  border: 1px solid #aaa;
}

.content .add-group span.description {
  color: #666;
  font-size: 14px;
  text-align: right;
}

span.command a {
  display: block;
}

.content * span.status.unqueued {
  color: #aaa;
}

.content * span.status.queued {
  color: black;
}

.content * span.status.running {
  color: blue;
}

.content * span.status.failed {
  color: #c83737;
}

.content * span.status.finished {
  color: #079807;
}

.content ul.buttons {
  display: table;
}

.content ul.buttons li {
  display: table-row;
}

.content ul.buttons li > span {
  display: table-cell;
}

.content ul.buttons li span.action {
  min-width: 250px;
}

.content ul.buttons li span.action a.button {
  min-width: 250px;
}

.content ul.buttons li span.based-on {
  font-family: "Marcellus SC", serif;
  text-align: right;
  width: 100%;

  padding-right: 10px;
}

.content ul.buttons li span.options select {
  min-width: 150px;
}

.content .right {
  float: right;
}

.content .edit-profile-link {
  margin-top: 5px;
}

.content .edit-profile-link a.edit-profile {
  color: hsl(190, 60%, 85%);

  font-size: 12px;
  font-weight: 200;
  font-family: "Open Sans", sans-serif;
}

.content .title {
  text-align: center;
}

.content h2.title + .graph#graph {
  background-color: #444;
  width: 600px;
  margin: 20px auto;
}

a.help-bubble {
  font-size: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-left: 7px;
  background: url('/images/occam-help-bubble.svg') no-repeat;
  background-size: 18px 18px;
  background-position: 0px 0px;
  opacity: 0.5;
  text-indent: -9999px;
}

[aria-hidden="true"] {
  display: none;
}

.markdown .image img {
}

.markdown a:not(.button) {
  color: hsl(190, 80%, 40%);
}

.markdown h2 {
  clear: both;
  color: white;
  margin-top: 0px;
  padding-top: 20px;
}

.markdown .image.border img {
  border: 1px solid hsl(190, 30%, 35%);
  background-color: hsl(190, 30%, 75%);
  padding: 2px;
}

.markdown .image .caption p {
  font-size: 12px;
  color: hsl(190, 30%, 65%);
  font-family: "Alegreya Sans SC", serif;
}

.markdown .image.right {
  float: right;
  clear: both;
  margin-right: 0;
  margin-left: 10px;
}

.markdown .image.left {
  clear: both;
  float: left;
  margin-right: 10px;
  margin-left: 0;
}

.markdown .image.fullwidth {
  width: 100%;
}

.markdown .image.fullwidth img {
  width: 100%;
}

.markdown h2 + p {
  margin: 0;
  padding-top: 10px;
}

.markdown p + p {
  margin: 0;
  padding-top: 10px;
}

.content .card {
  background-color: white;
  margin-top: 2px;
  padding: 20px 20px;
}

.content .card > .container {
  margin-top: 10px;
}

.content .card.filled {
  padding: 0;
}

.content .card.filled h2 {
  padding: 20px;
  padding-bottom: 0;
}

.content .card.filled.collapsed h2 {
  padding-bottom: 20px;
}

.content .card.filled .terminal {
  font-family: 'inconsolata', monospace;
  background-color: #333;
  color: #ddd;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 5px;
  margin-top: 10px;
  line-height: 1.2em;
  letter-spacing: 0px;
  word-spacing: 0px;
  white-space: nowrap;
}

.clear {
  clear: both;
}
